version: "2"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "16000:16000"
    environment:
      - BDB_WEB_SETTINGS=/usr/src/app/prd_settings.py
    volumes:
      - "/var/log:/var/log"
      - "/mnt/chelonium:/data"
