# Flask settings
PDB_SEARCH_URL = "http://www.rcsb.org/pdb/explore/explore.do?structureId="
WHY_NOT_SEARCH_URL = "http://www.cmbi.ru.nl/WHY_NOT2/search/pdbid/"
BDB_ROOT = "bdb"
DEBUG = True
SECRET_KEY = "dummy secret key"
