<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static', filename='reset.css') }}" />
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static', filename='master.css') }}" />
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('pygments_css') }}">
  </head>
  <body>
    <header id="main">
      <nav>
        <h1><a href="/">BDB</a></h1>
        <ul>
          <li>
            <a href="{{ url_for('pages', name='search') }}">
              <img src="{{ url_for('static', filename='icons/search_48x48.png') }}"/>
            </a>
          </li>
          <li>
            <a href="{{ url_for('pages', name='about') }}">
              <img src="{{ url_for('static', filename='icons/about_48x48.png') }}"/>
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <div id="wrapper">
      {% block content %}
      {% endblock %}
    </div>
    <footer>
      <br/>
    </footer>
  </body>
</html>
