<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static', filename='reset.css') }}" />
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static', filename='master.css') }}" />
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('pygments_css') }}">
  </head>
  <body>
    <header id="main">
      <nav>
        <h1><a href="/" title="BDB">BDB</a></h1>
        <ul>
          <li>
            <form
              style="display: inline;"
              action="{{ url_for('search') }}"
              method="post"
              name="search">
              {{ g.search_form.hidden_tag() }}
              {{ g.search_form.name(size=15,
                                    results=5,
                                    placeholder="Enter a PDB code",
                                    pattern="^[A-Za-z0-9]{4}$") }}
              <input
                type="image"
                title="Search"
                src="{{ url_for('static', filename='icons/search_48x48.png') }}"
                onsubmit="submit();"/>
            </form>
          </li>
          <li>
            <a href="{{ url_for('pages', name='about') }}" title="About">
              <img src="{{ url_for('static', filename='icons/about_48x48.png') }}"/>
            </a>
          </li>
          <li>
            <a href="{{ url_for('pages', name='links') }}" title="External links">
              <img src="{{ url_for('static', filename='icons/link_48x48.png') }}"/>
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <div id="wrapper">
      {% block content %}
      {% endblock %}
    </div>
    <footer>
      <br/>
    </footer>
  </body>
</html>
