{% extends "base.html" %}

{% block title %}
  {{ 'BDB' }}
{% endblock %}

{% block content %}

<h2>BDB Metadata</h2>

{% if bdb_metadata %}
<h2><a href="{{ pdb_url }}">{{ bdb_metadata["pdb_id"] }}</a></h2>
<br/>
<h3>Refinement</h3>
<h4>Software</h4>
<table>
  <tr><td class"column-1">Found in PDB file</td><td class="column-2">{{ bdb_metadata["refprog"] }}</td></tr>
  <tr><td>Interpreted program(s)</td><td>{{ bdb_metadata["prog_inter"] }}</td></tr>
  <tr><td>Interpreted program version(s)</td><td>{{ bdb_metadata["prog_vers"] }}</td></tr>
  <tr><td>Interpreted last used program</td><td>{{ bdb_metadata["prog_last"] }}</td></tr>
</table>
<h4>TLS</h4>
<table>
  <tr><td class"column-1">Groups found in PDB file</td><td class="column-2">{{ bdb_metadata["tls_groups"] }}</td></tr>
  <tr><td>B-factors probably residual</td><td>{{ bdb_metadata["tls_residual"] }}</td></tr>
  <tr><td>B-factors probably sum of TLS and residual B-factors</td><td>{{ bdb_metadata["tls_sum"] }}</td></tr>
  <tr><td>B-factor type according to PDB remediation</td> <td>{{ bdb_metadata["b_type"] }}</td></tr>
</table>
<h4>Other B-factor info</h4>
<table>
  <tr><td class"column-1">B-factor group type protein</td><td class="column-2">{{ bdb_metadata["protein_b"] }}</td></tr>
  <tr><td>C&alpha; only</td><td>{{ bdb_metadata["calpha_only"] }}</td></tr>
  <tr><td>B-factor group type nucleic acid</td><td>{{ bdb_metadata["nucleic_b"] }}</td></tr>
  <tr><td>B-factor field contains U<sup>2</sup> instead of 8&pi;<sup>2</sup>U<sup>2</sup></td><td>{{ bdb_metadata["b_msqav"] }}</td></tr>
</table>
<h4>ANISOU records</h4>
<table>
  <tr><td class"column-1">Present in PDB file</td><td class="column-2">{{ bdb_metadata["has_anisou"] }}</td></tr>
  <tr><td>B-factors reproducible from ANISOU records (%)</td><td>{{ bdb_metadata["beq_identical"] }}</td></tr>
  <tr><td>Correct Uij</td><td>{{ bdb_metadata["correct_uij"] }}</td></tr>
</table>
<h4>Other refinement remarks</h4>
<small>{{ bdb_metadata["other_refinement_remarks"] }}</small>
</br>
</br>
<h3>PDB Entry Format</h3>
<table>
  <tr><td class"column-1">Date</td><td class="column-2">{{ bdb_metadata["format_date"] }}</td></tr>
  <tr><td>Version</td><td>{{ bdb_metadata["format_vers"] }}</td></tr>
</table>
{% else %}
Not found
{% endif %}

<h2>Links</h2>

{% if bdb_url %}
  <span>BDB file:</span><a href="{{ bdb_url }}">download</a>
{% else %}
  <span>BDB file:</span>Does not exist
{% endif %}

<br/>

{% if whynot_url %}
  <span><a href="{{ whynot_url }}">WHY NOT</a></span>
{% else %}
  <span></span>
{% endif %}

<br/>

{% if pdb_url %}
  <span><a href="{{ pdb_url }}">PDB</a>
{% else %}
  <span></span>
{% endif %}


{% endblock %}
