{% extends "base.html" %}

{% block title %}
  {{ "BDB" }}
{% endblock %}

{% block content %}

<h2>BDB Metadata</h2>

{% if bdb_metadata %}
<h2>
  {% if bdb_url %}
  <a href="{{ bdb_url }}">{{ bdb_metadata["pdb_id"] }}</a>
  {% else %}
  {{ bdb_metadata["pdb_id"] }}
  {% endif %}
</h2>
<br/>
<h3>
  {% if bdb_url %}
  {% if bdb_metadata["assume_iso"] %}
  Full B-factors found in <a href="{{ pdb_url }}">PDB</a> file
  {% else %}
  Full B-factors calculated from <a href="{{ pdb_url }}">PDB</a> file
  {% endif %}
  {% else %}
  {{ bdb_metadata["decision"] }}
  {% endif %}
</h3>
</br>
<h3>Refinement</h3>
<h4>Software</h4>
<table>
  <tr>
    <th class="column-1">According to refinement remarks</th>
    <th class="column-2"> </th>
</tr>
  <tr>
    <td>Refinement program(s)</td>
    <td>{{ bdb_metadata["refprog"] }}</td>
  </tr>
  <tr>
    <td> </td>
    <td> </td>
</tr>
  <tr>
    <th>Interpretation</th>
    <th> </th>
</tr>
  <tr>
    <td>Program(s)</td>
    <td>{{ bdb_metadata["prog_inter"] }}</td>
  </tr>
  <tr>
    <td>Version(s)</td>
    <td>{{ bdb_metadata["prog_vers"] }}</td>
  </tr>
  <tr>
    <td>Last used program</td>
    <td>{{ bdb_metadata["prog_last"] }}</td>
  </tr>
</table>
<h4>TLS</h4>
<table>
  <tr>
    <th class="column-1">According to PDB remediation</th>
    <th class="column-2"> </th>
  </tr>
  <tr>
    <td>B-factor type</td>
    <td>
      {% if bdb_metadata["b_type"] %}
        {% if bdb_metadata["b_type"] == "residual" %}
          likely residual
        {% else %}
          {{ bdb_metadata["b_type"] }}
        {% endif %}
      {% else %}
        not specified
      {% endif %}
    </td>
  </tr>
  <tr>
    <td> </td>
    <td> </td>
  </tr>
  <tr>
    <th>According to refinement remarks</th>
    <th> </th>
  </tr>
  <tr>
    <td>TLS groups</td>
    <td>{{ bdb_metadata["tls_groups"] if bdb_metadata["tls_groups"] else "not specified" }}</td>
  </tr>
  <tr>
    <td>All TLS-group residues in structure model</td>
    <td>
      {% if bdb_metadata["tls_valid"] is none %}
      n/a
      {% elif bdb_metadata["tls_valid"] %}
      yes
      {% else %}
      no
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>B-factors residual</td>
    <td>{{ "yes" if bdb_metadata["tls_residual"] else "not found" }}</td>
  </tr>
  <tr>
    <td>B-factors sum of TLS and residual components</td>
    <td>{{ "yes" if bdb_metadata["tls_sum"] else "not found" }}</td>
  </tr>
  <tr>
    <td> </td>
    <td> </td>
  </tr>
  <tr>
    <th><a href="http://www.ccp4.ac.uk/html/tlsanl.html#skttls">SKTTLS</a>
      validation summary after <a
        href="http://www.ccp4.ac.uk/html/tlsanl.html">TLSANL</a> run with PDB
    file</th>
    <th> </th>
  </tr>
  <tr>
    <td>Total number of bonds between residues</td>
    <td>{{ bdb_metadata["skttls_tot"] if bdb_metadata["skttls_tot"] else "n/a" }}</td>
  </tr>
  <tr>
    <td>Number of bonds beyond 95th percentile for any residual</td>
    <td>{{ bdb_metadata["skttls_95th"] if bdb_metadata["skttls_tot"] else "n/a" }}</td>
  </tr>
  <tr>
    <td>Number of bonds beyond 99th percentile for any residual</td>
    <td>{{ bdb_metadata["skttls_99th"] if bdb_metadata["skttls_tot"] else "n/a" }}</td>
  </tr>
  <tr>
    <td>Full TLSANL log and SKTTLS report</td>
    <td>
      {% if tlsanl_log_url %}
        <a href="{{ tlsanl_log_url }}">view</a>
      {% else %}
        n/a
      {% endif %}
    </td>
  </tr>
</table>
<h4>Other B-factor info</h4>
<table>
  <tr>
    <th class="column-1">According to refinement remarks</th>
    <th class="column-2"> </th>
  </tr>
  <tr>
    <td>B-factor field contains U-factors (&lt;u<sup>2</sup>&gt; instead of 8&pi;<sup>2</sup>&lt;u<sup>2</sup>&gt;)</td>
    <td>{{ "yes" if bdb_metadata["b_msqav"] else "not found"}}</td>
  </tr>
  <tr>
    <td> </td>
    <td> </td>
  </tr>
  <tr>
    <th class="column-1">Derived from ATOM records</th>
    <th class="column-2"> </th>
  </tr>
  <tr>
    <td>B-factor group type protein</td>
    <td>{{ bdb_metadata["protein_b"] if bdb_metadata["protein_b"] else "n/a" }}</td>
  </tr>
  <tr>
    <td>C&alpha; only</td>
    <td>
      {% if bdb_metadata["protein_b"] %}
      {{ "yes" if bdb_metadata["calpha_only"] else "no" }}
      {% else %}
      n/a
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>B-factor group type nucleic acid</td>
    <td>{{ bdb_metadata["nucleic_b"] if bdb_metadata["nucleic_b"] else "n/a" }}</td>
  </tr>
  <tr>
    <td>P only</td>
    <td>
      {% if bdb_metadata["nucleic_b"] %}
      {{ "yes" if bdb_metadata["phos_only"] else "no" }}
      {% else %}
      n/a
      {% endif %}
    </td>
  </tr>
  <tr>
    <td> </td>
    <td> </td>
  </tr>
  <tr>
    <th class="column-1">Derived from ANISOU records</th>
    <th class="column-2"> </th>
  </tr>
  <tr>
    <td>Reproducible fraction of B-factors</td>
    <td>{{ bdb_metadata["beq_identical"] if bdb_metadata["has_anisou"] else "n/a" }}</td>
  </tr>
  <tr>
    <td>Anisotropic temperature factors specified in correct order</td>
    <td>
      {% if bdb_metadata["has_anisou"] %}
      {{ "yes" if bdb_metadata["correct_uij"] else "no" }}
      {% else %}
      n/a
      {% endif %}
    </td>
  </tr>
</table>
<h4>Other refinement remarks</h4>
{% if bdb_metadata["other_refinement_remarks"] == "" %}
  not specified
{% else %}
  <small>
    {{ bdb_metadata["other_refinement_remarks"] }}
  </small>
{% endif %}
</br>
</br>
<h3>PDB Entry Deposition</h3>
<table>
  <tr>
    <td class="column-1">Deposition date</td>
    <td class="column-2">{{ bdb_metadata["dep_date"] }}</td>
  </tr>
  <tr>
    <td>Format date</td>
    <td>{{ bdb_metadata["format_date"] }}</td>
  </tr>
  <tr>
    <td>Format version</td>
    <td>{{ bdb_metadata["format_vers"] }}</td>
  </tr>
</table>
</br>
<h3>Interpretation</h3>
{{ bdb_metadata["decision"] }}
</br>
</br>
</br>
<h2>PDB and BDB B-factor plots</h2>
<a href="{{ url_for("bplot_ca", pdb_id=bdb_metadata["pdb_id"]) }}">
  C&alpha; atoms</a>
</br>
<a href="{{ url_for("bplot_ca_norm", pdb_id=bdb_metadata["pdb_id"]) }}">
  C&alpha; atoms, B-values normalized per chain</a>
</br>
<a href="{{ url_for("bplot", pdb_id=bdb_metadata["pdb_id"]) }}">
  All atoms</a>
{% else %}
Not found
{% endif %}
</br>
</br>
</br>
<h2>Links</h2>

<span>BDB file:</span>
{% if bdb_url %}
  <a href="{{ bdb_url }}">download</a>
{% else %}
  Does not exist
{% endif %}

<br/>

<span>
{% if whynot_url %}
    <a href="{{ whynot_url }}">WHY NOT</a>
{% endif %}
</span>

<br/>

<span>
{% if pdb_url %}
    <a href="{{ pdb_url }}">PDB</a>
{% endif %}
</span>


{% endblock %}
