{% extends "base.html" %}

{% block title %}
  {{ 'BDB' }}
{% endblock %}

{% block content %}

<h1>A databank of PDB entries with full isotropic B-factors</h1>
</br></br>
Enter a PDB code in the search box to download the corresponding BDB entry.
</br></br>
<a href="{{ url_for('pages', name='about') }}" title="About" alt="About">
More information on the BDB decision scheme.
</a>
</br></br>
<a href="{{ url_for('pages', name='links') }}" title="External links" alt="External links">
External links
</a>
{% endblock %}
